<div class="detail-accessory-title">
  <h1>Select the 14" Stove of your choice</h1>
</div>
<section class="detail-accessory-section">
  <div class="multiple-items" carousel-dir>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/t/a/tailgater.jpg" alt="" />
      </div>
      <h1>Tailgater Combo</h1>
      <p>$239.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60fp_1.jpg" alt="" />
      </div>
      <h1>Explorer 2X Two-Burner Stove</h1>
      <p>$159.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/E/X/EX60B_3.jpg" alt="" />
      </div>
      <h1>Browning Explorer Two-Burner Stove</h1>
      <p>$149.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw700x767.jpg" alt="" />
      </div>
      <h1>Explorer Two-Burner Stove</h1>
      <p>$139.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/S/B/SB30D_3.jpg" alt="" />
      </div>
      <h1>Pro 30 Deluxe One-Burner Stove</h1>
      <p>$99.99</p>
    </div>
    <div class=""></div>
  </div>
</section>
<hr class="reviews-hr">
<section class='product-section'>
  <div class="product-card-container">
    <div class="product-card-img-3">

    </div>
    <div class="sub-info">
      <h1>What Exactly do we mean by 14" Cooking System?</h1>
      <p>
        Our 14" Cooking Systems have several different accessory options to choose from in order to make the most of your outdoor cooking experience. These options include BBQ Grill Box, Professional Steel Griddles, Pizza Ovens, Cast Iron Dutch Ovens. This makes our cooking systems the most versatile on the market and can be used for Camping, Tailgating or in your backyard and patio.
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <div class="details-vid">
          <button type="button" class="details-vid-btn" data-toggle="modal" data-target="#myModal">Watch Stove Demo</button>
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Explorer Two-Burner Stove Demo</h4>
                </div>
                <div class="modal-body">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/i8woX7CEiYI" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>`
        </div>
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-container">
      <div class="product-card-img-4">

      </div>
      <div class="sub-info">
        <h1>Versatile Cooking System</h1>
        <p>
          You can change out any number of Camp Chef stove accessories based on your specific cooking needs. Just look for the matching 14" Cooking System logo to be sure the accessory you are looking at will fit your specific stove type.
        </p>
        <a href="#">Learn More >></a>
        <div class="product-btn-container">
          <div class="details-vid">
            <button type="button" class="details-vid-btn" data-toggle="modal" data-target="#myModal">Watch Stove Demo</button>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Explorer Two-Burner Stove Demo</h4>
                  </div>
                  <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i8woX7CEiYI" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>`
          </div>
        </div>
      </div>
    </div>
</section>
