<section class="details-section">
  <div class="detail-thumbnails-container" thumb-nail-dir>
    <img class="thumb1" src="http://www.campchef.com/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw700x767.jpg" alt="" />
    <img class="thumb2" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/100x100/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw_ls56__1.jpg" alt="" />
    <img class="thumb3" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/100x100/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw_ls111_700x467.jpg" alt="" />
    <img class="thumb4" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/100x100/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw_ls51_700x647_1.jpg" alt="" />
  </div>
  <div class="detail-img-container">
    <img class="main-img" src="styles/images/burner.jpg" alt="" />
  </div>
  <div class="detail-info-container">
    <h1>Explorer Two-Burner Stove</h1>
    <p>
      Item: EX60LW
    </p>
    <div class="ratings">
      <img src="http://www.lagunasites.com.br/img/stars.png" alt="" />
    </div>
    <h6 id="stock">In Stock</h6>
    <div class="quantity">
      <h6>Quantity</h6>
      <input type="text" name="name" value="">
    </div>
    <h1 id="price">$139.99</h1>
    <div class="buy-btn-container">
      <button class="buy" type="button" name="button">Buy Now</button>
      <div class="details-vid">
        <button type="button" class="details-vid-btn" data-toggle="modal" data-target="#myModal">Watch Stove Demo</button>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Explorer Two-Burner Stove Demo</h4>
              </div>
              <div class="modal-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i8woX7CEiYI" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>`
      </div>
      <!-- <a class='wishlist' href="#">Add to Wishlist</a> -->
      <button class="wishlist" type="button" name="button">Add to Wishlist</button>
    </div>
    <hr>
    <div class="toggle-box-container" toggle-dir>
      <div class="myLink-container" id="myLink-border"><a class="myLink" href="javascript:void(0);" divId="toggle-key-features">Key Features</a></div>
      <div class="myLink-container" id="myLink-border"><a class="myLink" href="javascript:void(0);" divId="toggle-specs">Specs & Manuals</a></div>
      <div class="myLink-container" id="myLink-border"><a class="myLink" href="javascript:void(0);" divId="toggle-box">What's in the Box</a></div>
      <div class="myLink-container"><a class="myLink" href="javascript:void(0);" divId="toggle-q">Q&A's</a></div>

      <div class="myDiv" id="toggle-key-features">
        <div class="key-features">
          <h1>Key Features</h1>
          <ul>
            <li>Two 30K BTU Burners</li>
            <li>Removable legs for easy portability</li>
            <li>Durable steel construction</li>
            <li>Fully adjustable heat controls</li>
            <li>Ready to cook right out of the box</li>
          </ul>
        </div>
      </div>
      <div class="myDiv" id="toggle-specs">
        <div class="specs">
          <h1>Technical Specifications</h1>
          <div class="specs-dark">
            &nbsp; &nbsp; Two 30,000 BTU Burners
          </div>
          <div class="specs-light">
            &nbsp; &nbsp; Cooking Dimensions: 14" x 32"
          </div>
          <div class="specs-dark">
            &nbsp; &nbsp; Cooking Area: 448 sq. in.
          </div>
          <div class="specs-light">
            &nbsp; &nbsp; Cooking Height: 29"
          </div>
          <div class="specs-dark">
            &nbsp; &nbsp; Weight: 36 lbs.
          </div>
          <div class="specs-light">
            &nbsp; &nbsp; Warranty: One Year Limited
          </div>
        </div>
      </div>
      <div class="myDiv" id="toggle-box">
        <div class="in-box">
          <h1>What's in the Box?</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="myDiv" id="toggle-q">
        <div class="in-box">
          <h1>Questions and Answers</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="accessory-title">
  <h1>Accessories</h1>
</section>
<section class="detail-accessory-section">
  <div class="multiple-items" carousel-dir>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/B/B/BB100L_3.jpg" alt="" />
      </div>
      <h1>BBQ Grill Box 100 Accessory</h1>
      <p>$79.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/e/x/ex60lw_pz60_ghost.jpg" alt="" />
      </div>
      <h1>Artisan Pizza Oven 60 Accessory</h1>
      <p>$164.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/F/G/FG16_3.jpg" alt="" />
      </div>
      <h1>Universal Flat Top Griddle 16</h1>
      <p>$41.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/B/B/BB60X_3.jpg" alt="" />
      </div>
      <h1>Deluxe BBQ Grill Box 60 Accessory</h1>
      <p>$79.99</p>
    </div>
    <div class="accessory">
      <div class="accessory-img-container">
        <img class="accessory-img" src="http://www.campchef.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/C/B/CB60UNV_3.jpg" alt="" />
      </div>
      <h1>Carry Bag for Two-Burner Stoves</h1>
      <p>$34.99</p>
    </div>
    <div class=""></div>
  </div>
</section>
