<section class="product-section">
  <div class="product-card-container">
    <div class="product-card-img">

    </div>
    <div class="product-card-info">
      <h1>Stove Selection</h1>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-img-14">

    </div>
    <div class="product-card-info">
      <h1>14" Cook Systems</h1>
      <p>
        View our selection fo multi-burner portable propane stoves ideal for camping, tailgating, and much more.
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <button type="button" name="button">View all 14" Stoves</button>
        <button type="button" name="button">View Accessories</button>
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-img-16">

    </div>
    <div class="product-card-info">
      <h1>16" Cook Systems</h1>
      <p>
        View our selection of multi-burner portable propane stoves ideal for camping, tailgating, and much more
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <button type="button" name="button">View all 16" Stoves</button>
        <button type="button" name="button">View Accessories</button>
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-img-ms">

    </div>
    <div class="product-card-info">
      <h1>Mountain Series</h1>
      <p>
        View our selection fo multi-burner portable propane stoves ideal for camping, tailgating, and much more.
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <button type="button" name="button">View Mountain Series</button>
        <button type="button" name="button">View Accessories</button>
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-img-oc">

    </div>
    <div class="product-card-info">
      <h1>Outdoor Cookers</h1>
      <p>
        View our selection fo multi-burner portable propane stoves ideal for camping, tailgating, and much more.
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <button type="button" name="button">View Outdoor Cookers</button>
        <button type="button" name="button">View Accessories</button>
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <div class="product-card-img-ws">

    </div>
    <div class="product-card-info">
      <h1>Wood Stoves</h1>
      <p>
        View our selection fo multi-burner portable propane stoves ideal for camping, tailgating, and much more.
      </p>
      <a href="#">Learn More >></a>
      <div class="product-btn-container">
        <button type="button" name="button">View Wood Stoves</button>
        <button type="button" name="button">View Accessories</button>
      </div>
    </div>
  </div>
</section>
