/**********

FONTS, SNIPPETS, ETC

***********/

@import 'https://fonts.googleapis.com/css?family=Oswald';
/*font-family: 'Oswald', sans-serif;*/

/**********

NAV

***********/

.camp-nav {
  display: flex;
  justify-content: center;
  background: #333;
  height: 10vh;
  width: 100%;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.camp-nav h1{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.camp-nav img {
  height: 5vh;
  -webkit-filter: brightness(0) invert(1);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.camp-nav a {
  margin-right: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.camp-nav a:visited {
  text-decoration: none;
}

.camp-nav a:active {
  text-decoration: none;
}

/**********

HOME

***********/

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-image: url('https://hd.unsplash.com/photo-1462058294476-57b85c9f2bf5');
  background-size: cover;
}

.landing-container h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
}

.landing-container h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}

.logo {
  -webkit-filter: brightness(0) invert(1);
}

/**********

NAV

***********/

footer {
  height: 20vh;
  width: 100%;
  background: #333;
}

/**********

CATEGORY

***********/

.product-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card-container {
  height: 80vh;
  width: 500px;
  margin: 20px;
}

.product-card-img-14 {
  height: 40vh;
  width: 500px;
  background-image: url('http://www.campchef.com/media/wysiwyg/campchef/cms_content/14-system-main.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-img-16 {
  height: 40vh;
  width: 500px;
  background-image: url('http://www.campchef.com/media/wysiwyg/campchef/cms_content/16-system-main.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-img-ms {
  height: 40vh;
  width: 500px;
  background-image: url('https://hd.unsplash.com/photo-1444124818704-4d89a495bbae');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-card-img-oc {
  height: 40vh;
  width: 500px;
  background-image: url('https://hd.unsplash.com/photo-1470930938908-e8d5c5bd05df');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-card-img-ws {
  height: 40vh;
  width: 500px;
  background-image: url('https://hd.unsplash.com/photo-1464867037750-e4ebec103b42');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-card-info {
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  text-align: left;
  width: 500px;
  padding: 40px;
  border: 1px solid black;
}

.product-card-info h1{
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.product-card-info p{
  width: 500px;
  margin: 0;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}

.product-card-info a{
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #000;
}

.product-card-info a:hover {
  color: black;
  opacity: .7;
}

.product-btn-container {

}

.product-btn-container button{
  height: 25px;
  width: 160px;
  text-decoration: none;
  background: #B82927;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.product-btn-container button:hover {
  opacity: .7;
}

/**********

PRODUCT-DETAIL

***********/

.details-section {
  display: flex;
  flex-direciton: row;
  justify-content: center;
  margin-top: 25px;
}

.detail-thumbnails-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  margin-top: 95px;
}

.detail-thumbnails-container img{
  height: 80px;
  width: 80px;
}

.detail-thumbnails-container img:hover{
  cursor: pointer;
  border: 1px #333 solid;
}

.detail-info-container {

}

.detail-info-container h1{
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.detail-info-container p {
  margin-left: 10px;
  margin-top: 20px;
}

.main-img {
  margin-right: 20px;
}

.ratings {
  margin-left: 10px;
  margin-top: 5px;
}

.ratings img {
  height: 15px;
  margin-top: -10px;
}

#stock {
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B82927;
}

.quantity h6 {
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #666;
}

.quantity input {
  width: 35px;
  margin-left: 10px;
  margin-top: 0px;
  background: #fff;
  border: 1px solid #555;
}

#price {
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.buy-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buy {
  margin-top: 20px;
  height: 25px;
  width: 160px;
  text-decoration: none;
  background: #B82927;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.buy:hover {
  opacity: .7;
}

.wishlist {
  margin-top: 20px;
  height: 25px;
  width: 160px;
  text-decoration: none;
  background: rgb(0, 171, 255);
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.wishlist:hover {
  opacity: .7;
}

.wishlist:active {
  color: #555;
  opacity: .7;
}

.key-features {
  margin: 10px;
}

.key-features h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #B82927;
}

.key-features ul {
  margin-top: 20px;
  margin-left: 10px;
}

.key-features ul li {
  margin-top: 10px;
  margin-left: 10px;
  list-style-type: circle;
}

.details-vid-btn {
  margin-top: 20px;
  height: 25px;
  width: 160px;
  text-decoration: none;
  background: rgb(0, 171, 255);
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.modal-title {
  font-family: 'Oswald', sans-serif;
}

.details-vid-btn:hover {
  opacity: .7;
}

.detail-accessory-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.accessory-title {
  width: 100%;
}

.accessory-title h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.multiple-items {
  width: 80vw;
}

.accessory {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100px;
}

.accessory-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.accessory-img {
  height: 200px;
  width: 200px;
}

.accessory h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
}

.accessory p {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/**********

PRODUCT-DETAIL-toggle box

***********/

.toggle-box-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 480px;
}

.myLink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #333;
  height: 40px;
  width: 120px;
}

#myLink-border {
  border-right: 2px #fff solid;
}

.myLink {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-decoration: none;
}

.myLink:visited {
  color: #fff;
  text-decoration: none;
}

.myLink:hover {
  color: #fff;
  text-decoration: none;
}

.myLink:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  background: #ddd;
  color: #333;
  text-decoration: none;
}

.myLink:active {
  color: #333;
  text-decoration: none;
}

.myDiv {
  height: 200px;
  width: 100%;
  background: #ddd;
}

#toggle-specs {
  display: none;
}

.specs {
  margin: 10px;
}

.specs h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.specs-dark {
  height: 20px;
  width: 400px;
  background: #999;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #333;
}

.specs-light {
  height: 20px;
  width: 400px;
  background: #ddd;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #333;
}

#toggle-box {
  display: none;
}

.in-box {
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}

.in-box h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

#toggle-q {
  display: none;
}

/**********

PRODUCT-DETAIL-reviews

***********/

.product-reviews-section {
  margin-top: 50px;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.reviews-header p {
  font-family: 'Oswald', sans-serif;
}

.reviews-header button {
  font-family: 'Oswald', sans-serif;
  background: #ddd;
  border: none;
}

.reviews-hr {
  margin-left: 50px;
  margin-right: 50px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
}

.reviews-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-left: 50px;
  border-radius: 50px;
  background: rgb(0, 171, 255);
}

.reviews-avatar h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  color: #fff;
}

.reviews-info {
  margin-left: 10px;
  margin-right: 50px;
  width: 100%;
}

.reviews-info img {
  height: 15px;
  margin-top: -10px;
}

/**********

PRODUCT-DETAIL-related articles

***********/

.related-articles-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.related-articles-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  color: #333;
}

.related-articles-1 {
  height: 40vh;
  width: 500px;
  background-image: url('http://www.campchef.com/blog/wp-content/uploads/2016/09/PG36LUX_1-blog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.related-articles-2 {
  height: 40vh;
  width: 500px;
  background-image: url('http://www.campchef.com/blog/wp-content/uploads/2016/08/conestoga-ranch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.related-articles-info {
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.related-articles-info h1{
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #B82927;
}

.related-articles-info p{
  width: 500px;
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.read-more{
  width: 500px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #B82927;
}

.read-more:hover {
  color: black;
  opacity: .7;
}
